body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.hero-section {
    display: flex;
}

.half-width {
    width: 50%;
    padding: 5%;
}

.orange {
    color: #FC934A;
}

.half-width img {
    width: 80%;
}

.half-width h1 {
    font-size: 60px;
    color: #575757;
    margin-bottom: 0;
}

.half-width p {
    font-size: 18px;
    color: #828282;
    padding: 20px 0;
}

.link-button {
    text-decoration: none;
    padding: 15px 30px;
    background: linear-gradient(50deg, #FBA24F, #FF1E1E);
    color: #fff;
    border-radius: 50px;
    font-size: 16px;
}

.about-section {
    display: flex;
    padding: 60px 80px 0 80px;
    background-image: url(eat-healthy-main/images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: contain;
    justify-content: center;
    align-items: center;
}

.single-width {
    width: 50%;
    height: auto;
}

.single-width img {
    width: 53%;

}

#second-image-div {
    text-align: center;
    margin: 0 auto;
}

#about-paragraph {
    margin-bottom: 70px;
}

.recipe-section {
    padding: 50px 80px;
}

.recipe-head {
    width: 700px;
    margin: auto;
    text-align: center;
}

.recipe-head h2 {
    font-size: 36px;
    color: #676767;
}

.recipe-head p {
    font-size: 18px;
    color: #252525;
}

.recipe-box {
    display: flex;
}

.recipe-1 {
    margin: 30px;
    padding: 35px;
    box-shadow: 0px 12px 30px 10px #bababa;
    border-radius: 20px;
}

.recipe-1 img {
    width: 100%;
}

.recipe-1 h2 {
    font-size: 28px;
    font-weight: bold;
}

.recipe-1 p {
    font-size: 18px;
    color: #18191F;
}